body {
  background-color: rgb(255, 255, 255);
}
.booked-clock-prime {
  position: relative;
  bottom: 880px;
  left: 1310px;
}
.sectionHead {
  width: 100%;

  padding: 39px 0 6px 0;
  display: block;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* 
@media screen and (min-width: 1025px){
.nav-website {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 8pt 32pt;
} 
} */

.nav-website {
  justify-content: space-between;

  position: absolute;
  height: 49pt;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  background-color: #eb844c;
  color: #f2f2f2;

  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.containerHead {
  width: 1200px;
  margin: 0 auto;
}

.logoWeather {
  width: 30px;
  position: relative;
  display: block;

  top: 14px;
}

h3 {
  position: absolute;
  z-index: 5;
  top: 17px;
  left: 16px;
  color: rgb(255, 255, 255);
  font-family: "Space Grotesk", Arial, sans-serif !important;
}

.sectionFont {
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  display: block;
}

.where-to {
  box-sizing: content-box;
  width: 100%;
  display: block;
}
.image {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  z-index: 0;
  position: static;
  top: 0px;
  left: 0px;
  opacity: 1;
  display: block;
}
.container {
  width: 900px;
  margin: 0 auto;
}

#app {
  width: 100%;
  margin: 0 auto;
}
.divAppWeather {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin-top: -600px;
}

H1 {
  position: relative;
  bottom: 150px;
  font-weight: 200;
  text-align: left;
  line-height: 0%;
  font-size: 2vw;
  color: rgb(255, 255, 255);

  font-family: "Space Grotesk", Arial, sans-serif !important;
  text-shadow: 1px 1px white, 2px 2px #777;

  transition: all 1s;
}

H1:hover {
  text-shadow: 1px 1px rgb(54, 71, 48), 2px 2px rgba(255, 144, 34, 0.879);
  color: rgb(92, 138, 97);
}
h2 {
  position: relative;

  text-align: left;
  color: #e75b35;
  font-size: 1vw;
  margin-top: -120px;

  font-family: "Space Grotesk", Arial, sans-serif !important;
}
.promo-title {
  position: relative;
  text-align: left;
  color: #ffffff;
  font-size: 17px;
}

.weather-box {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
}

.city {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 40px;
  font-weight: bold;
  color: rgb(75, 84, 94);
  margin-block-start: 0.83em;
}

.temp {
  font-size: 60px;
  font-weight: bold;

  text-shadow: 5px 5px #46556250;
  color: rgb(31, 55, 79);
  padding: 10px 0;
  text-align: center;
}

.descr {
  color: rgb(75, 84, 94);
  font-weight: bold;
  font-style: normal;
  font-size: 20px;
  font-family: Proxima Nova, Roboto, system-ui, Tahoma, sans-serif;
  padding: 13px 0;
}

.map {
  display: flex;
  position: relative;
  flex-direction: row-reverse;
  bottom: 350px;
}

.mapImg {
  opacity: 0.8;
  box-shadow: 0 0 10px rgba(51, 59, 53, 0.777);
}

.formSection {
  text-align: center;

  height: 70px;
  left: 0;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  padding: 35px 0 5px 0;
  /* display: inline-block; */
  background-color: rgba(227, 227, 228, 0.833);
}

.searchSection {
  width: 400px;

  position: relative;
  margin-top: -15px;
}

.userInput {
  margin-left: 0px;
  background: transparent;
  height: 30px;
  width: 370px;

  text-align: center;
  display: block;
  padding: 0.5rem 0.9rem;
  outline: none;
  font-family: inherit;
  font-size: 100%;
  font-weight: bold;

  color: #474646;
  background-color: rgb(255, 255, 255);

  border: 5px solid #ffffff;
  border-radius: 4pt;
}

.button {
  position: absolute;
  top: 0;
  right: -50px;
  width: 90px;
  height: 30px;
  display: block;
  margin: 0 auto;
  background-color: #48484a;
  border-color: #48484a;
  color: #f2f2f2;
  font-family: inherit;
  font-size: 70%;
  font-weight: normal;
  border-radius: 0 4pt 4pt 0 !important;
  padding: 0 8pt !important;
  cursor: pointer;
}
.list {
  position: relative;
  left: 0;
  width: 100%;
  bottom: 320px;
  background: rgba(110, 160, 81, 0.934);
}

.boxBlock {
  bottom: 0px;
  display: block;
  left: 0;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  text-align: justify;
  padding: 5px;
}

.boxBlock:after {
  position: relative;
  display: inline-block;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  vertical-align: top;
  content: "";
}

.boxBlock li {
  position: relative;
  display: inline-block;
  width: 10%;
  height: 0px;
  box-sizing: border-box;
  text-align: center;
  vertical-align: top;
  margin: 10px 0;
  cursor: pointer;
  color: #ffffff;
}
.headerMenu {
  width: 1000px;
  margin: 0 auto;
  margin-top: -6px;
}

.navLi {
  margin-left: 80px;
  flex-grow: 1;
  display: flex;

  font-size: 0.7vw;
  list-style: none;
}

.navLi li {
  padding: 0 30px;
  color: #ffffff;
  font-family: Proxima Nova, Roboto, system-ui, Tahoma, sans-serif;
}

.navSign {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  margin-top: -30px;
}

.iconAcc {
  width: 37px;
  opacity: 0.9;
}

.iconNotification {
  width: 40px;

  opacity: 0.9;
}
.clock {
  position: relative;

  font-family: Arial, Helvetica, sans-serif;
  color: rgb(75, 84, 94);
  font-size: 24px;
  text-align: center;
  background: #a7d5ec42;
}
