@media print, screen and (max-width: 1200px) {
  .container {
    max-width: 900px;
  }

  h2 {
    bottom: 4px;
    font-size: 20px;
  }

  h1 {
    font-size: 25px;
    margin-top: -71px;
  }

  .headerMenu {
    width: 688px;
    margin: 0 auto;
  }
  .footer_wrapper {
    flex-wrap: wrap;
  }

  .footer_wrapper > div {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  .footer_wrapper > div:nth-child(1) {
    width: 100%;
  }
  .footer_wrapper > div:nth-child(3) {
    width: 100%;
    justify-content: center;
  }
}

@media print, screen and (max-width: 991px) {
  .container {
    max-width: 900px;
  }

  .navFlex {
    display: flex;
    justify-content: space-between;
  }

  .headerMenu {
    width: 862px;
    margin-left: 20px;
  }

  h2 {
    bottom: 4px;
    font-size: 20px;
  }

  h1 {
    font-size: 25px;
    margin-top: -10px;
  }

  .menu li {
    padding: 0 13px;
  }

  .menu_link {
    font-size: 14px;
  }

  .navSign {
    display: block;
    position: absolute;
    right: 40px;
    top: 40%;
  }

  .iconAcc {
    margin-bottom: 2px;
  }
  .mapImg {
    width: 600px;
  }
  .footer_wrapper {
    flex-wrap: wrap;
  }

  .footer_wrapper > div {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  .footer_wrapper > div:nth-child(1) {
    width: 100%;
  }
  .footer_wrapper > div:nth-child(3) {
    width: 100%;
    justify-content: center;
  }
}

@media print, screen and (max-width: 767px) {
  .logoWeather {
    width: 30px;
  }

  .navSign {
    display: block;
    position: absolute;
    right: 40px;
    top: 40%;
  }

  .iconAcc {
    margin-bottom: 2px;
  }

  /* h2 {
    bottom: 199px;
    font-size: 15px;
  }

  h1 {
    font-size: 25px;
    margin-top: -170px;
  } */

  .menu {
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100vh;
    padding: 20px 15px;
    background-color: rgba(0, 0, 0, 0.8);
    transition: 0.6s all;
  }

  .menu_active {
    left: 0;
    margin-left: 0;
  }

  .menu_item {
    padding-right: 0;
    border: none;
    margin: 10px 0;
  }

  .hamburger {
    display: block;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 26px;
    height: 12px;
  }

  .hamburger span {
    display: block;
    height: 2px;
    width: 100%;
    background-color: #fff;
    margin-bottom: 6px;

    transition: 0.5s all;
  }

  .hamburger_active span {
    margin-bottom: -2px;
  }

  .hamburger_active span:nth-child(1) {
    transform: translateY(3px) rotate(-45deg);
  }

  .hamburger_active span:nth-child(2) {
    display: none;
  }

  .hamburger_active span:nth-child(3) {
    transform: translateY(3px) rotate(45deg);
  }
  .mapImg {
    width: 400px;
  }
  .city {
    font-size: 30px;
  }
  .temp {
    font-size: 50px;
  }
  .descr {
    font-size: 15px;
  }
  .wrapper {
    padding: 500px 0 50px;
  }
}

@media print, screen and (max-width: 575px) {
  nav {
    height: 30px;
  }
  .menu {
    width: 85%;
  }
  .menu_item {
    width: 100%;
    text-align: center;
    padding: 5px 0;
  }
  .menu_link {
    display: block;
    font-size: 15px;
  }

  .hamburger_active span:nth-child(1) {
    transform: translateY(5px) rotate(-45deg);
  }

  .hamburger_active span:nth-child(3) {
    transform: translateY(5px) rotate(45deg);
  }
  .container {
    max-width: 540px;
  }
  .containerWrapper {
    max-width: 540px;
  }

  .headerMenu {
    width: 200px;
    margin: -6px auto 0px;
  }
  .xs-hidden {
    display: none;
  }
  .userInput {
    width: 150px;
  }
  .button {
    right: 175px;
    width: 79px;
  }
  .contentFlex {
    flex-direction: column;
  }

  .wrapper {
    /* padding: 680px 0 50px; */
    padding: 727px 0 18px;
  }
  footer {
    padding: 25px 0 20px 0;
  }

  .footer_divider {
    width: 253px;
    margin: 0 auto;
  }

  .footer_wrapper {
    padding-top: 22px;
  }

  .footer_wrapper > div {
    margin-bottom: 20px;
  }
  .footer_wrapper > div:nth-child(1) {
    order: 2;
  }
  .footer_wrapper > div:nth-child(2) {
    order: 1;
  }
  .footer_wrapper > div:nth-child(3) {
    order: 3;
  }

  .footer_links {
    width: 290px;
  }
  .footer_links_main {
    padding: 0;
    font-size: 14px;
  }
  .footer_links_sub {
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer_links_sub a {
    margin: 0 7px;
  }
  .footer_links_lang {
    margin-top: 10px;
  }
}
