body {
  background-color: rgb(255, 255, 255);
}
html {
  font-family: "Ubuntu", sans-serif;
}

.booked-clock-prime {
  position: relative;
  bottom: 880px;
  left: 1310px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.nav-website {
  position: fixed;
  top: 0;
  width: 100%;

  height: 76px;
  z-index: 2;
  background-color: #eb844c;
  color: #f2f2f2;

  align-items: center;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

.navFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
}

.logoWeather {
  width: 30px;
  position: relative;
  display: block;
  bottom: 10px;
  margin: 0 20px 2px 0;
}

h3 {
  font-size: 17px;
  position: absolute;
  z-index: 5;
  top: 17px;
  left: 16px;
  color: ffffff;
  font-weight: 700;
}

.menu_link {
  text-decoration: none;
  font-weight: 300;
  font-size: 15px;
  color: #fff;
  text-transform: uppercase;
}

.sectionFont {
  min-height: 350px;
  background: url(../assets/image/1617066355_22-p-oboi-fon-peizazh-22.jpg)
    center center/cover no-repeat;
  width: 100%;
}

#app {
  width: 100%;
  margin: 0 auto;
}

.divAppWeather {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin-top: -600px;
}

H1 {
  position: relative;
  bottom: 150px;
  font-weight: 700;
  text-align: left;
  line-height: 0%;
  font-size: 30px;
  margin-top: -50px;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px white, 2px 2px #777;

  transition: all 1s;
}

H1:hover {
  text-shadow: 1px 1px rgb(54, 71, 48), 2px 2px rgba(255, 144, 34, 0.879);
  color: rgb(92, 138, 97);
}

h2 {
  position: relative;
  font-weight: 400;
  text-align: left;
  color: #e8633e;
  font-size: 20px;
  margin-top: -120px;
  text-shadow: 1px 1px 1px rgb(90, 63, 39);
}

.promo {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 0 auto;
  padding: 0;
}

.promo-title {
  color: #3f3f3f;
  font-size: 17px;
  font-weight: 300;
  font-style: italic;
}

.contentFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
}
.hamburger {
  display: none;
}

.weather-box {
  width: 100%;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
}

.city {
  font-weight: 400;
  font-size: 30px;

  color: rgb(75, 84, 94);
  margin-block-start: 0.83em;
  border-left: 1px solid #737373;
  border-bottom: 1px solid #eb6e4b;
  padding: 1px;
}

.temp {
  font-size: 50px;
  font-weight: 600;

  text-shadow: 3px 2px #46556250;
  color: rgb(72 72 74);
  padding: 10px 0;
  text-align: center;
}

.descr {
  color: rgb(75, 84, 94);
  font-weight: 600;
  font-style: normal;
  font-size: 14px;

  padding: 13px 0;
}

.humidity {
  color: rgb(75, 84, 94);
  font-weight: 400;
  font-size: 14px;
}

.wind {
  color: rgb(75, 84, 94);
  font-weight: 400;
  font-size: 14px;
}

.visibility {
  color: rgb(75, 84, 94);
  font-weight: 400;
  font-size: 14px;
}

.map {
  display: flex;
  position: relative;
  flex-direction: row-reverse;
  padding: 30px;
}

.mapImg {
  opacity: 0.8;
  box-shadow: 0 0 10px rgba(51, 59, 53, 0.777);
}

.formSection {
  text-align: center;

  height: 70px;
  left: 0;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  padding: 35px 0 5px 0;

  background-color: rgba(227, 227, 228, 0.833);
}

.searchSection {
  width: 400px;

  position: relative;
  margin-top: -15px;
}

.userInput {
  margin-left: 0px;
  background: transparent;
  height: 30px;
  width: 370px;

  text-align: center;
  display: block;
  padding: 0.5rem 0.9rem;
  outline: none;

  font-size: 100%;
  font-weight: 300;

  color: #474646;
  background-color: rgb(255, 255, 255);

  border: 5px solid #ffffff;
  border-radius: 4pt;
}

.button {
  position: absolute;
  top: 0;
  right: -50px;
  width: 90px;
  height: 30px;
  display: block;
  margin: 0 auto;
  background-color: #48484a;
  border-color: #48484a;
  color: #f2f2f2;

  font-size: 70%;
  font-weight: 300;
  border-radius: 0 4pt 4pt 0 !important;
  padding: 0 8pt !important;
  cursor: pointer;
}

.list {
  /* height: 60px; */

  position: relative;
  left: 0;
  width: 100%;
  padding: 10px;

  background: rgba(110, 160, 81, 0.934);
}

/* .boxBlock {
  padding: 16px 0;
} */

.boxBlock li {
  display: inline-block;
  width: 10%;
  /* margin: 0 auto; */

  cursor: pointer;
  color: #ffffff;
  font-size: 0.8vw;
  font-weight: 100;
}

.headerMenu {
  width: 688px;
  display: flex;
  justify-content: space-between;
  padding: 0px 70px;
  margin: 0;
  list-style-type: none;
}

.menu {
  flex-grow: 1;
  display: flex;
  list-style: none;
}

.menu li {
  padding: 0 15px;
  color: #ffffff;
}

.navSign {
  display: flex;
  justify-content: flex-end;
  align-items: normal;
  margin-top: -7px;
}

.iconAcc {
  width: 35px;
  opacity: 0.9;
  margin: 0 15px;
}

.iconNotification {
  width: 40px;

  opacity: 0.9;
}

.clock {
  position: relative;

  font-weight: 300;
  color: rgb(75, 84, 94);
  font-size: 24px;
  text-align: center;
  background: rgb(7 90 131 / 26%);
}
.slider_divider {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: rgba(161, 45, 45, 0);
  margin: 400px 0 30px;
}

.containerWrapper {
  width: 1000px;
  margin: 0 auto;
}

.wrapper {
  margin-top: 20px;
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slick-slider {
  min-width: 0;
}

.slick-list {
  overflow: hidden;
}
.slick-track {
  display: flex;
  align-items: flex-start;
}

.slick-slide {
}

.slick-slide.slick-active {
}

.slick-slide.slick-current {
}

.slick-slide.slick-center {
}

.slick-arrow {
}

.slick-arrow.slick-prev {
}

.slick-arrow.slick-next {
}

.slick-arrow.slick-disabled {
}

.slick-dots {
}

.slick-dots li {
}

.slick-dots button {
}

.slider {
  position: relative;
  padding: 0px 30px;
}

@media (max-width: 767px) {
  .slider {
    padding: 0px 40px;
  }
}

.slider .slick-arrow {
  position: absolute;
  top: 50%;
  margin: -30px 0px 0px 0px;
  z-index: 10;
  font-size: 0;
  width: 30px;
  height: 60px;
}

.sliderImg {
  opacity: 0.8;
  box-shadow: 0 0 10px rgba(51, 59, 53, 0.777);
}

.slider .slick-arrow.slick-prev {
  left: 0;
  background: url("../assets/image/img/leftarrow_121320.svg") 0 0 / 100%
    no-repeat;
  border: solid #ffffff;
  cursor: pointer;
}

.slider .slick-arrow.slick-next {
  right: 0;
  background: url("../assets/image/img/rightarrow_121279.svg") 0 0 / 100%
    no-repeat;
  border: solid #ffffff;
  cursor: pointer;
}

.slider .slick-arrow.slick-disabled {
  opacity: 0.2;
}

.slider .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider .slick-dots li {
  list-style: none;
  margin: 0px 10px;
}

.slider .slick-dots button {
  font-size: 0;
  width: 10px;
  height: 10px;
  background-color: rgb(76, 65, 65);
  border-radius: 50%;
}

.slider .slick-dots li.slick-active button {
  background-color: transparent;
  border: 1px solid rgb(154, 140, 140);
}

.slider__item {
  padding: 0px 15px;
}

.slider__item img {
  max-width: 100%;
}

.slider__item.slick-center {
}

footer {
  padding: 14px 23px 39px 23px;
  background-color: #e1e8ec;
  height: auto;
  margin-top: 30px;
  margin-bottom: 0px;
}

footer a:hover {
  text-decoration: none;
}

.footer_divider {
  width: 100%;
  height: 2px;
  background-color: #eb844c;
  margin: 20px auto;
}

.footer_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 32px;
}

.footer_wrapper > div {
  width: 33%;
}

.footer_wrapper > div:nth-child(3) {
  display: flex;

  justify-content: flex-end;
}

.footer_social {
  width: 160px;
  display: flex;
  justify-content: space-between;
}

.footer_social_item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 4px;
  width: 32px;
  height: 32px;
  background-color: #070716;
  border-radius: 100%;
}

.footer_social_item i {
  color: #fff;
}

.footer_links {
  width: 390px;
  margin: 0 auto;
}

.footer_links_main {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.footer_links_main a {
  color: #070716;
  font-size: 15px;
  font-weight: 300;
  text-transform: uppercase;
}

.footer_links_sub {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.footer_links_sub a {
  color: #999999;
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
}

.footer_links_lang {
  display: block;
  margin: 0 auto;
  color: #1fbad6;
  font-size: 11px;
  font-weight: 400;
  margin-top: 19px;
  text-transform: uppercase;
  text-align: center;
}
